@import "components/user";
@import "components/sidebar";
@import "components/footer";
@import "components/mobileNav";

@import "components/courses/createcourse";
@import "components/courses/engaging";
@import "components/courses/videoaudience";
@import "components/courses/newcomer";
@import "components/courses/resources";
@import "components/courses/ready";

@import "components/performance/performance";
@import "components/communication/communication";
@import "components/tools/tools";
@import "components/resources/resources";

@import "components/utilities";
@import "components/responsive";


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, san-serif;
}

.courses {
 margin-left: 44px;
}