.engaging {
 margin: auto;
 display: flex;
 align-items: center;

 &__img {
  flex: 0 0 40%;
  text-align: center;

  img {
   width: 250px;
   height: 250px;
  }
 }

 p {
  padding-right: 1.5rem;
 }

}