.newcomer {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 2fr;
  align-items: center;
 
  &__img {
   width: 100%;
   text-align: center;

   img {
    width: 150px;
    height: 150px; 
    object-fit: contain;
   }
  }

  &__body {
   padding-right: 1.4rem;
  }
 
  p {
   padding-right: 1.5rem;
  }
 
}
