.ready {
 margin-top: 150px;
 margin-bottom: 150px;

 &__button{
  width: 250px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
}