.video {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;

  &__img {
    flex: 0 0 40%;
    text-align: center;
  }

  img {
    width: 150px;
    height: 150px;
  }

  &__audience {
    display: flex;
    padding: 0.8rem 0.2rem;
    align-items: center;
    box-shadow: 2px 4px 5px 0.1px gainsboro;
  }

  &__start {
    display: flex;
    padding: 0.8rem 0.2rem;
    box-shadow: 2px 4px 5px 0.1px gainsboro;
    align-items: center;
  }


}
