*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, san-serif;
  position: relative;
}

.form {
 width: 600px;
 margin-left: auto;
 margin-right: auto;
}

.courseupload {
 width: 100%;
 padding: 100px 30px;
}

label {
 font-size: 1.5rem;
}

input[type=text] {
 width: 450px;
}

input {
 &:focus {
  outline: none;
  box-shadow: none !important;
 }
}

textarea {
 width: 100%;
 min-height: 300px;

 &:focus {
  outline: none;
  box-shadow: none !important;
 }
}

.header-nav {
 width: 100%;

 img {
  width: 60px;
 }

 &__bg {
   background: #52143e;
   padding: 15px 10px;
 }
}

.bottom-border {
 position: absolute;
 bottom: 0;
 left: 0;
 border: 4px solid red;
 width: 100%;
 margin: 0;
}

@media (max-width: 700px) {
 .form {
  width: 100%;
 }

 input[type=text] {
  width: 90%;
 }
 
}