
.footer  {
 width: 100%;
 background: white;
 display: flex;
 align-items: center; 
 padding: 30px 25px;
 justify-content: space-between;
 cursor: pointer;

 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  a {
   font-size: .9rem;
  }
 }

 span{
  font-size: 1rem;
 }

 img {
  width: 50px;
 }


.lang {
 outline: 1px solid black;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 30px;
 padding: .4rem .7rem;
 width: 130px;

 .list-group-item {
  border: none;
  outline: none; 

  a{
   color: black;
   opacity: .9;
   text-decoration: none;
  }
 }
}
}
