.mobile-nav {
 width: 100%;
 display: none;

 .fa {
   color: white;
   font-size: 1.4rem;
 }

 &__bg {
   background: #52143e;
   padding: 15px 10px;
 }
}

.mobile__sidebar {
 background-color: rgba(41, 48, 59, 0.55);
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1000;
 width: 0;
 height: 100%;
 color: #52143e;

 &-bg {
   padding: 25px 8px;
   background-color: white;
   width: 0;
   height: 100%;
   z-index: 500;
   transition: 0.3s;
   transform: translate(-500px);
 }

 &-user {
   display: flex;
   justify-content: space-between;
 }

 p {
   line-height: 8px;
   font-size: 0.9rem;
 }

 .username {
   color: white;
   margin-left: 13px;
   margin-right: 7px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 45px;
   height: 45px;
   background-color: grey;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
 }

 .list-group {
   &-item {
     border: none;
   }
 }

 a {
   color: #52143e;
   font-size: 1.1rem;
 }
}
