@media (max-width: 874px) {

 .sidebar{
  display: none;
 }

 .user {
  display: none;
 }

 .performance {
  width: 100%;

  &__data {

   &-header {
    flex-direction: column;
   }
 }
 }

 .revenue,
.enrollment,
.rating {
  width: 100%;
}

 .communication {
  width: 100%;
 }

 .mobile-nav {
  display: block;
 }

 
.courses {
 margin: 0 !important;
}

.tools {
 width: 100%;

 &__dashboard {
  padding: 0 !important;
 }

 .card-box {
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;

  .card {
   margin: 0 !important;
   margin-bottom: 10px !important;
  }
 }
}

.resource {
 width: 100%;

 &__dashboard {
  padding: 0 !important;
 }

 .card-box {
  flex-direction: column;
  width: 100%;
  margin: auto;

  .card {
   margin: 0 !important;
   margin-bottom: 10px !important;
  }
 }
}

}

@media (max-width: 900px) {
 .createcourse {
   &__container {
     flex-direction: column;
     text-align: center;

     .fa {
      display: block;
      margin-bottom: 20px;
     }
   }

   &__text {
    display: block;
   }

   &__button { 
     margin-top: 0.9rem;
   }

   .fa {
     font-size: 4.5rem;
   }

   h3 {
     font-size: 1.8rem;
   }
 }

 .engaging {
   flex-direction: column;
  &__body{
    padding: 10px 30px;
  }
 }

 .video {
   grid-template-columns: 1fr;

   &__img {
     flex: 0 0 100%;
     text-align: center;
     margin: auto;
   }

   img {
     width: 250px;
     height: 250px;
   }

   &__audience {
     flex-direction: column;
     align-items: flex-start;
   }

   &__start {
     flex-direction: column;
     align-items: flex-start;
   }

   &__body {
    padding: 10px 30px;
   }
 }

 .newcomer {
   grid-template-columns: 1fr;

   &__body {
    padding: 10px 30px;
   }
 }

}

@media (min-width: 900px) and (max-width: 1100px) {
 .createcourse {
   h3 {
     font-size: 2rem;
   }

   .fa {
     font-size: 5rem;
   }

   &__button {
     width: 200px;
   }
 }
}

@media (max-width: 750px) {
 .footer {
  position: relative;
  display: inline-block;
  ul {
    width: 100%;
    justify-content: center;
  }

  .lang {
   position: absolute;
   top: 10px;
   right: 10px;
  }
 }
}