.sidebar {
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: flex;

  img {
    width: 40px;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }

  &__nav {
    position: relative;
    flex: 0 0 44px;
    

    ul {
      width: 44px;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      height: 100%;
      transition: 0.4s;
      background: #52143e;
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      min-height: 100vh;

      &:hover {
        width: 242px;
      }

      li {
        padding: 15px 5px;

        &:hover {
         background-color: #853c6c;
        }
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        padding: 0 2px;

        & > i {
          font-size: 1.7rem;
          margin-right: 15px;
        }
      }
    }
  }
}

.overview {
 background-color: rgb(237, 236, 230);
 width: 242px;
}

.communicate {
 background-color: rgb(237, 236, 230);
 width: 242px;
}