.user {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 99%;
  margin: auto;
}
.user span {
  padding: 0.4rem 0.5rem;
  font-weight: normal;
  cursor: pointer;
}
.user span .fa {
  font-size: 1.5rem;
}
.user__name {
  color: white;
  margin-left: 13px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: grey;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.user__name li {
  border: none;
  outline: none;
}

.sidebar {
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: flex;
}
.sidebar img {
  width: 40px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
.sidebar__nav {
  position: relative;
  flex: 0 0 44px;
}
.sidebar__nav ul {
  width: 44px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  transition: 0.4s;
  background: #52143e;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.sidebar__nav ul:hover {
  width: 242px;
}
.sidebar__nav ul li {
  padding: 15px 5px;
}
.sidebar__nav ul li:hover {
  background-color: #853c6c;
}
.sidebar__nav ul a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 0 2px;
}
.sidebar__nav ul a > i {
  font-size: 1.7rem;
  margin-right: 15px;
}

.overview {
  background-color: #edece6;
  width: 242px;
}

.communicate {
  background-color: #edece6;
  width: 242px;
}

.footer {
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  padding: 30px 25px;
  justify-content: space-between;
  cursor: pointer;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.footer ul a {
  font-size: 0.9rem;
}
.footer span {
  font-size: 1rem;
}
.footer img {
  width: 50px;
}
.footer .lang {
  outline: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0.4rem 0.7rem;
  width: 130px;
}
.footer .lang .list-group-item {
  border: none;
  outline: none;
}
.footer .lang .list-group-item a {
  color: black;
  opacity: 0.9;
  text-decoration: none;
}

.mobile-nav {
  width: 100%;
  display: none;
}
.mobile-nav .fa {
  color: white;
  font-size: 1.4rem;
}
.mobile-nav__bg {
  background: #52143e;
  padding: 15px 10px;
}

.mobile__sidebar {
  background-color: rgba(41, 48, 59, 0.55);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 0;
  height: 100%;
  color: #52143e;
}
.mobile__sidebar-bg {
  padding: 25px 8px;
  background-color: white;
  width: 0;
  height: 100%;
  z-index: 500;
  transition: 0.3s;
  transform: translate(-500px);
}
.mobile__sidebar-user {
  display: flex;
  justify-content: space-between;
}
.mobile__sidebar p {
  line-height: 8px;
  font-size: 0.9rem;
}
.mobile__sidebar .username {
  color: white;
  margin-left: 13px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: grey;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.mobile__sidebar .list-group-item {
  border: none;
}
.mobile__sidebar a {
  color: #52143e;
  font-size: 1.1rem;
}

.createcourse__container {
  margin: auto;
  padding: 3.5rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.createcourse__text {
  display: flex;
  align-items: center;
}
.createcourse__text .fa {
  font-size: 6rem;
}
.createcourse__text h3 {
  font-weight: 100;
  font-size: 2.5rem;
  font-family: sans-serif;
}

.info {
  text-align: center;
  opacity: 0.8;
}

.engaging {
  margin: auto;
  display: flex;
  align-items: center;
}
.engaging__img {
  flex: 0 0 40%;
  text-align: center;
}
.engaging__img img {
  width: 250px;
  height: 250px;
}
.engaging p {
  padding-right: 1.5rem;
}

.video {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}
.video__img {
  flex: 0 0 40%;
  text-align: center;
}
.video img {
  width: 150px;
  height: 150px;
}
.video__audience {
  display: flex;
  padding: 0.8rem 0.2rem;
  align-items: center;
  box-shadow: 2px 4px 5px 0.1px gainsboro;
}
.video__start {
  display: flex;
  padding: 0.8rem 0.2rem;
  box-shadow: 2px 4px 5px 0.1px gainsboro;
  align-items: center;
}

.newcomer {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.newcomer__img {
  width: 100%;
  text-align: center;
}
.newcomer__img img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.newcomer__body {
  padding-right: 1.4rem;
}
.newcomer p {
  padding-right: 1.5rem;
}

.resources {
  text-align: center;
}
.resources__items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 180px));
  gap: 10px;
  justify-content: center;
}
.resources__items .fa {
  font-size: 2rem;
  opacity: 0.7;
}
.resources__items h6 {
  font-weight: bold;
  font-size: 1.1rem;
  opacity: 0.8;
}
.resources__items-text {
  font-size: 0.9rem;
  opacity: 0.9;
  padding: 0.5rem;
}
.resources a {
  color: black;
  text-decoration: none;
}

.ready {
  margin-top: 150px;
  margin-bottom: 150px;
}
.ready__button {
  width: 250px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.performance {
  width: calc(100% - 250px);
}
.performance__dashboard {
  position: relative;
  cursor: pointer;
}
.performance__dashboard p {
  text-align: center;
  width: 100%;
  margin: auto;
}
.performance__data {
  margin-top: 30px;
}
.performance__data-header {
  display: flex;
  align-items: center;
  padding: 10px;
}
.performance__display {
  position: relative;
  padding: 150px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.revenue,
.enrollment,
.rating {
  padding: 20px;
  text-align: center;
  width: 170px;
}

.report {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 20px 0.4rem;
}

.communication {
  width: calc(100% - 250px);
}
.communication__dashboard {
  text-align: center;
  padding-top: 20px;
}
.communication__dashboard p {
  width: 99%;
  margin: auto;
}

.tools {
  margin: auto;
  padding-top: 10px;
  width: calc(100% - 44px);
  text-align: center;
}
.tools i {
  font-size: 3rem;
}
.tools .card-box {
  width: 600px;
  display: flex;
}

.resource {
  margin: auto;
  padding-top: 10px;
  width: calc(100% - 44px);
  text-align: center;
}
.resource i {
  font-size: 3rem;
}
.resource .card-box {
  width: 100%;
  display: flex;
  flex: 1;
}

.wrapper {
  display: flex;
  flex: 1;
}

.header {
  padding-top: 40px;
  padding-left: 30px;
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}
.box-shadow:hover {
  box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
}

.opacify {
  opacity: 0.8;
}

.marginbt {
  margin-top: 55px;
  margin-bottom: 55px;
}

.ovr-big {
  font-size: 2.5rem;
  line-height: 36px;
  opacity: 0.8;
}

.ovr-medium {
  font-weight: 1.1rem;
}

main {
  padding: 100px 50px;
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.active-list {
  width: 100%;
  position: relative;
}

.active-list::before {
  position: absolute;
  height: 70%;
  content: "";
  border-left: 4px solid red;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
}

.btn__button {
  width: 220px;
  border-radius: 0;
  background: #317036;
  border: 1px solid #317036;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  color: white;
}
.btn__button:hover {
  background: #39823f;
  border: 1px solid #317036;
  color: white;
}

.get-started {
  width: 100px;
  font-size: 1.1rem;
}

@media (max-width: 874px) {
  .sidebar {
    display: none;
  }

  .user {
    display: none;
  }

  .performance {
    width: 100%;
  }
  .performance__data-header {
    flex-direction: column;
  }

  .revenue,
.enrollment,
.rating {
    width: 100%;
  }

  .communication {
    width: 100%;
  }

  .mobile-nav {
    display: block;
  }

  .courses {
    margin: 0 !important;
  }

  .tools {
    width: 100%;
  }
  .tools__dashboard {
    padding: 0 !important;
  }
  .tools .card-box {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .tools .card-box .card {
    margin: 0 !important;
    margin-bottom: 10px !important;
  }

  .resource {
    width: 100%;
  }
  .resource__dashboard {
    padding: 0 !important;
  }
  .resource .card-box {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .resource .card-box .card {
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
}
@media (max-width: 900px) {
  .createcourse__container {
    flex-direction: column;
    text-align: center;
  }
  .createcourse__container .fa {
    display: block;
    margin-bottom: 20px;
  }
  .createcourse__text {
    display: block;
  }
  .createcourse__button {
    margin-top: 0.9rem;
  }
  .createcourse .fa {
    font-size: 4.5rem;
  }
  .createcourse h3 {
    font-size: 1.8rem;
  }

  .engaging {
    flex-direction: column;
  }
  .engaging__body {
    padding: 10px 30px;
  }

  .video {
    grid-template-columns: 1fr;
  }
  .video__img {
    flex: 0 0 100%;
    text-align: center;
    margin: auto;
  }
  .video img {
    width: 250px;
    height: 250px;
  }
  .video__audience {
    flex-direction: column;
    align-items: flex-start;
  }
  .video__start {
    flex-direction: column;
    align-items: flex-start;
  }
  .video__body {
    padding: 10px 30px;
  }

  .newcomer {
    grid-template-columns: 1fr;
  }
  .newcomer__body {
    padding: 10px 30px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .createcourse h3 {
    font-size: 2rem;
  }
  .createcourse .fa {
    font-size: 5rem;
  }
  .createcourse__button {
    width: 200px;
  }
}
@media (max-width: 750px) {
  .footer {
    position: relative;
    display: inline-block;
  }
  .footer ul {
    width: 100%;
    justify-content: center;
  }
  .footer .lang {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, san-serif;
}

.courses {
  margin-left: 44px;
}

/*# sourceMappingURL=dashboard.css.map */
