.navs {
  width: 100%;
  background-color: white;
}
.navs__mobile {
  display: none;
  width: 99%;
  padding: 1rem 0.7rem;
  margin: 0 auto;
  align-items: center;
}
.navs__mobile-icon {
  width: 70px;
}
.navs__mobile .dropdown-menu {
  margin-top: 44px;
}
.navs__mobile-logo {
  width: calc(100% - 110px);
  text-align: center;
  font-size: 1.5rem;
}
.navs__mobile-logo img {
  width: 60px;
}
.navs__mobile-logo a {
  text-decoration: none;
  color: black;
}
.navs__mobile-cart {
  width: 40px;
  text-align: right;
}
.navs__mobile .fa, .navs__mobile .fas {
  font-size: 1.3rem;
}
.navs__mobile .fa-search {
  padding-left: 20px;
}
.navs__desktop {
  padding: 0.5rem 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navs__desktop-logo {
  align-items: center;
  display: flex;
  cursor: pointer;
}
.navs__desktop img {
  width: 70px;
}
.navs__desktop-logo {
  width: 190px;
}
.navs__desktop .cart_button {
  text-align: right;
  width: 220px;
}
.navs__desktop .searchform {
  width: calc(100% - 400px);
  margin-left: 30px;
}
.navs__desktop .searchform input {
  width: calc(100% - 50px);
  height: 44px;
  padding: 10px 12px;
  font-size: 16px;
  color: #29303b;
  background-color: #fff;
  background-image: none;
  border: none;
  background: #eeeff2;
  border-radius: 2px;
  box-shadow: none;
}
.navs__desktop .searchform .btn {
  width: 40px;
  height: 44px;
  padding: 10px 12px;
  background: #eeeff2;
}
.navs__desktop .searchform .btn:hover {
  background: #317036;
}
.navs__desktop .searchform .btn:hover .fas {
  color: white;
}
.navs__desktop .searchform .btn .fas {
  color: #317036;
}

.modal-body .fa {
  margin-right: 10px;
  font-size: 1.5rem;
}
.modal-body .fa-google {
  color: red;
}
.modal-body .form-group {
  width: 100%;
}
.modal-body .form-group input:not([type=submit]) {
  height: 44px;
  padding: 10px 12px;
  width: 100%;
  font-size: 16px;
  color: #29303b;
  background-color: #fff;
  background-image: none;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #317036;
}

.modal-footer {
  display: block;
}
.modal-footer p {
  width: 100%;
  text-align: center;
}

.forgot-footer {
  text-align: center;
}
.forgot-footer span {
  vertical-align: middle;
  font-size: 1.2rem;
}
.forgot-footer a {
  font-size: 1.2rem;
}

.btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.dropdown-menu {
  margin-top: 20px;
  width: 200px;
}
.dropdown-menu span,
.dropdown-menu a {
  display: block;
  width: 100%;
}
.dropdown-menu a {
  color: #007bff;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: white;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #007bff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-blue {
  color: #007bff !important;
}

.search-drop {
  width: 100% !important;
  height: 0;
  /* 100% Full-height */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: white;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  cursor: pointer;
}
.search-drop .input-group {
  display: flex;
  align-items: center;
  box-shadow: 2px 4px 5px 0.1px gainsboro;
}
.search-drop input {
  width: calc(100% - 80px);
  height: 44px;
  padding: 10px 12px;
  font-size: 16px;
  color: #29303b;
  background-color: #fff;
  background-image: none;
  border: none;
  background: white;
  border-radius: 2px;
  box-shadow: none;
}
.search-drop input:focus {
  outline: none;
}
.search-drop .close-form {
  width: 40px;
  text-align: center;
}
.search-drop .btn {
  width: 40px;
  height: 44px;
  padding: 10px 12px;
  background: white;
}
.search-drop .btn:hover {
  background: #317036;
}
.search-drop .btn:hover .fas {
  color: white;
}
.search-drop .btn .fas {
  color: #317036;
}

.hero__bg {
  background-image: url(../../img/header-image2.jpg);
  background-image: url(../img/header-image2.jpg);
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
}
.hero__body {
  padding-left: 1rem;
  padding-right: 1rem;
}
.hero__body .btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-top: 1.4rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hero__main-text {
  font-size: 3rem;
}
.hero__sub-text {
  font-size: 1.2rem;
  width: 400px;
}

.potential {
  width: 100%;
}
.potential__heading {
  color: #29303b;
}
.potential hr {
  border: 1px solid #29303b;
  width: 45px;
  margin: 0 auto;
}
.potential .fa, .potential .fas {
  font-size: 2.8rem;
}
.potential__details {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-left: 65px;
  padding-right: 65px;
  justify-content: center;
}
.potential__text {
  margin-right: 20px;
}

.opportunities {
  width: 100%;
}
.opportunities__bg {
  background: #505763 url(../../img/exceptional-opportunity.png) center center no-repeat;
  background-image: url(../img/exceptional-opportunity.png);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 70px;
}
.opportunities ul {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 180px));
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
}
.opportunities li {
  font-size: 3.4rem;
  display: inline-block;
}
.opportunities li > span {
  font-size: 1.2rem;
  display: block;
}

.envision {
  overflow-x: hidden;
}
.envision__line {
  border: 1px solid rgba(41, 48, 59, 0.25);
  width: 100px;
}

.envision__body {
  padding-top: 30px;
}
.envision__body-icon {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.envision__body-icon-1, .envision__body-icon-2, .envision__body-icon-3 {
  width: 260px;
}
.envision__body-icon-1 p, .envision__body-icon-2 p, .envision__body-icon-3 p {
  font-weight: bold;
  font-size: 1.2rem;
}
.envision__body-icon-1 .fas, .envision__body-icon-2 .fas, .envision__body-icon-3 .fas {
  font-size: 2.2rem;
}
.envision__body-content {
  text-align: left;
  padding-left: 100px;
}
.envision__body h5 {
  font-weight: bold;
  font-size: 1.3rem;
}
.envision__body-image {
  padding-left: 30px;
  padding-right: 30px;
}
.envision__body-image img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.testimonial {
  margin-top: 130px;
}
.testimonial-para {
  font-size: 1.3rem;
}
.testimonial img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.testimonial .name {
  font-weight: bold;
}
.testimonial .role {
  display: block;
  font-weight: normal;
}
.testimonial .card {
  padding: 1rem 1.2rem;
}
.testimonial .card-body {
  padding: 0;
  margin-top: 90px;
  display: flex;
  align-items: center;
}
.testimonial .card-1 {
  border-top: 7px solid purple;
}
.testimonial .card-2 {
  border-top: 7px solid green;
}
.testimonial .card-3 {
  border-top: 7px solid yellow;
}

.help {
  width: 100%;
  margin-top: 80px;
}
.help__bg {
  background: #505763 url(../../img/help.jpg) top center no-repeat;
  background-image: url(../img/help.jpg);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 200px;
}
.help__text {
  font-size: 1.3rem;
  padding: 0 150px;
  margin-top: 140px;
}

.instructor {
  width: 100%;
  margin-top: 80px;
}
.instructor__text {
  font-size: 1.3rem;
}
.instructor .btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-top: 1.4rem;
  padding: 10px 60px;
}

.bottom-footer {
  padding: 1rem 0.9rem;
  margin-top: 30px;
  padding-bottom: 1.1rem;
  border-bottom: 5px solid #317036;
}

.footer {
  width: 100%;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer ul a {
  color: gray;
  font-size: 0.9rem;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.companies p {
  font-size: 1.1rem;
}
.companies span {
  font-size: 1.2rem;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright img {
  width: 50px;
}
.copyright__links {
  display: flex;
}

.lang {
  outline: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0.4rem 0.7rem;
  width: 130px;
}
.lang .fas {
  font-size: 0.9rem;
}

@media (max-width: 790px) {
  .hero__bg {
    padding-top: 170px;
    padding-bottom: 20px;
  }
  .hero__main-text {
    font-size: 2rem;
  }
  .hero__sub-text {
    font-size: 1.1rem;
    width: 80%;
  }
  .hero .btn {
    width: 100%;
    margin-top: 1.3rem;
  }

  .navs__mobile {
    display: block !important;
    display: flex !important;
  }

  .navs__desktop {
    display: none;
  }

  .instructor {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .instructor .btn {
    width: 100%;
  }

  .potential__details {
    flex-direction: column;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
  .potential__text {
    margin: auto;
    margin-bottom: 20px;
  }

  .main2-heading {
    font-size: 1.7rem !important;
  }

  .footer__links-1 {
    display: none;
  }
  .footer__links-2 {
    display: none;
  }
  .footer__links-3 {
    display: none;
  }

  .copyright {
    align-items: normal;
    flex-direction: column;
  }
  .copyright__links {
    padding-left: 70px !important;
  }
}
@media (max-width: 600px) {
  .opportunities ul {
    grid-template-columns: repeat(auto-fit, minmax(110px, 120px));
    gap: 20px;
  }
  .opportunities ul li {
    font-size: 2.5rem !important;
  }
  .opportunities ul li li > span {
    font-size: 1.1rem;
  }
}
@media (max-width: 899px) {
  .envision .envision__body {
    margin-top: -45px;
    padding-top: 0px;
  }
  .envision .envision__body-content {
    padding: 0;
  }
  .envision .envision__body-icon {
    display: none;
  }
  .envision .envision__body-image {
    display: none;
  }
}
@media (max-width: 780px) {
  .envision .envision__body-content {
    text-align: left;
    padding-left: 40px;
    padding-right: 50px;
  }
}
@media (max-width: 830px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  .help__text {
    padding: 0 80px;
  }
}
@media (max-width: 590px) {
  .help__text {
    padding: 0 20px;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, san-serif;
  position: relative;
}

p {
  font-size: 1.1rem;
}

.main2-heading {
  font-weight: 300;
  font-size: 2.4rem;
}

.opacify {
  opacity: 0.8;
}

.bottom-line {
  border: 1px solid #288745;
  width: 45px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
