.help {
 width: 100%;
 margin-top: 80px;
 &__bg {
  background: #505763 url(../../img/help.jpg) top center no-repeat;
  background-image: url(../img/help.jpg);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 200px;
 } 

 &__text {
  font-size: 1.3rem;
  padding: 0 150px;
  margin-top: 140px;
 }
}