.performance {
 width: calc(100% - 250px);

  &__dashboard {
    position: relative;
    cursor: pointer;

    p {
     text-align: center;
      width: 100%;
      margin: auto;
    }
  }

  &__data {
    margin-top: 30px;

    &-header {
      display: flex;
      align-items: center;
      padding: 10px;
    }
  }

  &__display {
    position: relative;
    padding: 150px 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
}

.revenue,
.enrollment,
.rating {
  padding: 20px;
  text-align: center;
  width: 170px;
}

.report {
 text-align: center;
 display: inline-block;
 width: 100%;
 padding: 20px .4rem;
}
