.sidebar {
  position: relative;
  header {
    background-color: $gb_color;
    color: #1c232e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    p {
      position: absolute;
      right: 20px;
      top: 15px;
      i {
        font-size: 35px;
      }
    }
    h5 {
      color: black;
      padding: 10px 0;
    }
    .desktop_side {
      display: none;
    }
    .close {
      position: absolute;
      top: 10px;
      right: 20px;
      display: none;
    }
  }

  .content {
    display: none;
  }
}
@media screen and (min-width: 560px) {
  main {
    position: relative;
    .sidebar {
      position: absolute;
      top: -30px;
      left: 0px;
      transition: left 1s ease-in-out;
      z-index: 1;

      header {
        min-height: 60px;
        width: 100px;
        transition: width 0.5s ease-in;
        justify-content: left;
        align-items: center;
        position: absolute;

        p {
          left: 20px;
        }
        h5 {
          display: none;
        }
        li.desktop_side {
          display: none;
          list-style: none;
          padding: 0 10px 0 60px;
          h3 {
            font-size: 20px;
          }
        }
        .close {
          display: block;
          position: absolute;
          right: 20px;
          top: 20px;
        }
      }
      .content {
        display: block;
        margin-left: 0px;
        ul#container {
          position: relative;
          margin-top: 60px;
          background-color: transparent;
          overflow: hidden;
          width: 50px;
          transition: width 0.5s ease-in-out;
          li {
            position: relative;
            cursor: pointer;
            list-style: none;
            font-size: 20px;
            display: flex;
            align-items: center;
            height: 50px;
            width: 50px;
            background: linear-gradient(to left, white 50%, $brand_color 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 1s ease;

            p {
              height: 100%;
              margin: 0;
              display: flex;
              align-items: center;
              width: 100%;
            }

            p:first-child {
              width: 50px;
              justify-content: center;
              background-color: $gb_color;
            }
            p:last-child {
              padding-left: 20px;
              display: none;
              span {
                margin-left: 40px;
                padding-right: 20px;
                display: flex;
                align-items: center;
                justify-content: left;
                width: 100%;
              }
            }
          }
          li:hover {
            background-color: $brand_color;
            background-position: left bottom;
            color: white;
            p:first-child {
              background-color: $brand_color;
            }
            p:last-child {
              display: flex;
              color: white !important;
              span {
                transition: color 1.5s;
              }
            }
          }
          li.active{
            color: white;

            p:first-child {
              background-color: $brand_color;
            }
            p:last-child{
              background-color: $brand_color;
              color: white !important;
            }
          }
        }
        aside {
          position: fixed;
          bottom: 0;
          width: 100vw;
          height: 50px;
          background-color: #1c232e;
          color: white;
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: 30px;
          span {
            cursor: pointer;
            width:auto;
            text-align: center;
            font-size: 25px;
              i {
            cursor: pointer;
            margin: 0 20px;
          }
          }
          span:hover{
            opacity: .8;
          }
        
          a{
            background-color: $brand_color;
            color: white;
            width: 100px;
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }
  }
}


